*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.sec-nav{
    width: 100%;
    margin: auto;
    background-color: #043873;
    height: 4rem;
}
.sec-nav nav{
    height: 3rem;
}
.sec-nav ul{
    height: 4rem;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    flex-direction: row-reverse;
    border-bottom: 1px solid rgba(206, 206, 206, 0.242);
    position: relative;
    top: 14px;
}
.sec-nav ul li a{
    color: white;
    /* border: 1px solid rgb(128, 95, 95);         */
    padding: 5px 10px;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;

}
.sec-nav ul li a:hover{
    color:#043873;
    background-color: white;
}
.hero-sec{
    width: 100%;
    height: 40rem;
}
.hero-sec{
    background-image: url(../imgs/Image1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #043873;
}
.cont-h2{
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}
.cont-info {
    color: rgb(255, 255, 255);
    margin-top: 10px;
    display: flex;
    font-size: 12px;
    width: 74%;
    margin: auto;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    align-content: stretch;
}
@media (max-width: 1156px) and (min-width: 900px) {
.hero-sec{
    background-image: url(../imgs/Image1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #043873;
}
.hero-sec {
    width: 100%;
    height: 29rem;
}
}
@media (max-width: 900px) and (min-width: 700px) {
    .hero-sec{
        background-image: url(../imgs/Image1.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-color: #043873;
    }
    .hero-sec {
        width: 100%;
        height: 21rem;
    }
}
@media (max-width: 700px) and (min-width: 500px) {
        .hero-sec{
            background-image: url(../imgs/Image1.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-color: #043873;
        }
        .hero-sec {
            width: 100%;
            height: 15rem;
        }
}
@media (max-width: 500px) and (min-width: 340px) {
    .hero-sec{
        background-image: url(../imgs/Image1.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-color: #043873;
    }
    .hero-sec {
        width: 100%;
        height: 11rem;
    }
}
@media (max-width: 394px) and (min-width: 340px) {
    .sec-nav ul li a {
        color: white;
        padding: 5px 10px;
        font-size: 14px;
        transition: all 0.2s ease-in-out;
        border-radius: 10px;
    }
}
.attachment{
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.back{
    width: 100%;
    margin-top:50px;
    margin-bottom:50px;
    background-image: url(../imgs/2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30rem;
}
.contact{
        width: 100%;
        margin-top: 50px;
        height: 11rem;
        background-color: #000000;
        border: 1px solid black;
}
@media (max-width: 1200px) and (min-width: 1024px) {
    .contact {
        width: 100%;
        margin-top: 50px;
        height: 11rem;
        background-color: #000000;
    }
}

@media (max-width: 900px) and (min-width: 800px) {
    .back {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        background-image: url(../imgs/2.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 28rem;
        border: 1px solid #999595;
    }
    .contact {
        width: 100%;
        margin-top: 50px;
        height: 18rem;
        background-color: #000000;
    }
}
@media (max-width: 700px) and (min-width: 500px) {
    .back {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        background-image: url(../imgs/2.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 16rem;
        border: 1px solid #999595;
    }
}

@media (max-width: 500px) and (min-width: 400px) {
    .back {
        width: 100%;
        background-image: url(../imgs/2.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 18rem;
        border: 1px solid #999595;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .contact {
        width: 100%;
        margin-top: 50px;
        height: 15rem;
        background-color: #000000;
    }
    .hero-sec {
        width: 100%;
        height: 18rem;
    }
}

@media (max-width: 400px) and (min-width: 340px) {
    .back {
        width: 100%;
        background-image: url(../imgs/2.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 21rem;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .contact {
        width: 100%;
        margin-top: 50px;
        height: 18rem;
        background-color: #000000;
    }
    .cont-h2 {
        color: #ffffff;
        text-align: center;
        margin-top: 25px;
    }
}
@media (max-width: 790px) and (min-width: 700px) {
    .cont-info {
        color: rgb(255, 255, 255);
        margin-top: 10px;
        display: flex;
        font-size: 12px;
        width: 96%;
        margin: auto;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
        align-content: stretch;
    }
    .cont-h2 {
        color: #ffffff;
        text-align: center;
        margin-top: 25px;
    }
}

@media (max-width: 700px) and (min-width: 600px) {
    .cont-info {
        color: rgb(255, 255, 255);
        margin-top: 10px;
        display: flex;
        font-size: 12px;
        width: 74%;
        margin: auto;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 26px;
        align-content: stretch;
        gap: 22px;
    }
}

@media (max-width: 600px) and (min-width: 500px) {
    .cont-info {
        color: rgb(255, 255, 255);
        margin-top: 10px;
        display: flex;
        font-size: 12px;
        width: 74%;
        margin: auto;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 26px;
        align-content: stretch;
        gap: 22px;
    }
    .cont-h2 {
        color: #ffffff;
        text-align: center;
        margin-top: 25px;
    }
}

@media (max-width: 500px) and (min-width: 400px) {
    .cont-info {
        color: rgb(255, 255, 255);
        margin-top: 10px;
        display: flex;
        font-size: 12px;
        width: 74%;
        margin: auto;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 26px;
        align-content: stretch;
        gap: 22px;
    }
    .cont-h2 {
        color: #ffffff;
        text-align: center;
        margin-top: 56px;
    }
}
@media (max-width: 400px) and (min-width: 340px) {
    .cont-info {
        color: rgb(255, 255, 255);
        margin-top: 10px;
        display: flex;
        font-size: 12px;
        width: 74%;
        margin: auto;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 26px;
        align-content: stretch;
        gap: 22px;
    }
    .cont-h2 {
        color: #ffffff;
        text-align: center;
        margin-top: 85px;
    }
    .cont-info h2{
        font-size: 16px;

    }
}